[Unit]
Description=WebEx bot
After=syslog.target
After=network.target

[Service]
Type=forking
PIDFile=/tmp/bot.pid
WorkingDirectory=/srv/webexbot

User=root
Group=root

OOMScoreAdjust=-1000

ExecStart=/bin/bash /srv/webexbot/run.sh
ExecStop=/bin/bash /srv/webexbot/stop_bot.sh
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target 
